<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="{{ url_for('static', filename='images/logo.svg') }}"
        alt="StormGuard logo"
        width="32"
        height="32"
        class="d-inline-block align-text-top me-2"
      />
      <span class="h4 mb-0">StormGuard</span>
    </a>

    <span class="rounded-pill live-button indicator"> Monitorando </span>

    <span
      class="rounded-pill alert-indicator indicator"
      id="header-alert-status"
      >Sem Alertas</span
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link rounded-pill me-2 px-3 py-1"
            aria-current="page"
            href="/"
            >Início</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-pill me-2 px-3 py-1" href="/painel_alertas"
            >Painel de Alertas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-pill me-2 px-3 py-1" href="/relatorios"
            >Relatórios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link rounded-pill me-2 px-3 py-1" href="/configuracoes"
            >Configurações</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle rounded-pill me-2 px-3 py-1"
            href="#"
            id="areaDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Área: {{ current_area_name or "Selecione" }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="areaDropdown">
            <li><a class="dropdown-item" href="/1">Área 1 (Central)</a></li>
            <li><a class="dropdown-item" href="/2">Área 2 (Norte)</a></li>
            <li><a class="dropdown-item" href="/3">Área 3 (Sul)</a></li>
            <li><a class="dropdown-item" href="/4">Área 4 (Leste)</a></li>
            <li><a class="dropdown-item" href="/5">Área 5 (Oeste)</a></li>
          </ul>
        </li>
      </ul>

        <a href="{{ url_for('main.logout') }}" class="nav-link rounded-pill ms-lg-3 mt-2 mt-lg-0 px-3 py-1">
            Logout
        </a>
    </div>
  </div>
</nav>
